<div [formGroup]="parent">
  
  <div class="stock-selector grid grid--col-3" formGroupName="selector">
    <div class="form-group">
      <select 
        name="productName" 
        id="productName"
        [ngClass]="{
          'is-invalid': product_id.invalid && product_id.touched,
          'is-valid': product_id.valid
        }"
        formControlName="product_id"
      >
        <option value="" disabled>Select product...</option>
        <option 
          [ngValue]="product.id" 
          *ngFor="let product of products"
        >
          {{ product.name }}
        </option>
      </select>

      <small class="error" *ngIf="required('product_id')">
        Select a product
      </small>
    </div>

    <app-stock-counter
      [max]="1000"
      [min]="10"
      [step]="10"
      formControlName="quantity"
    ></app-stock-counter>

    <button
      type="button"
      class="btn"
      [disabled]="selector.invalid"
      (click)="handleAddToCart()"
    >
      Add to Cart
    </button>
  </div>

  <!-- <pre>{{ selector.value | json }}</pre> -->

</div>