<div [formGroup]="parent">

  <div class="stock-cart" formArrayName="cart">

    <div *ngFor="let cartItem of cart; let i = index">
      <div class="form-group grid grid--col-3" [formGroupName]="i">
        <span>
          {{ cartItem.value.product_id }}
        </span>

        <app-stock-counter 
          [max]="1000"
          [min]="10"
          [step]="10"
          formControlName="quantity">
        </app-stock-counter>
        
        <button
          type="button"
          (click)="handleRemove(cartItem, i)"
        >Remove</button>
      </div>
    </div>

  </div>

</div>