<div [formGroup]="parent">

  <div class="stock-cart" formArrayName="cart">

    <div *ngFor="let cartItem of cart; let i = index">
      <div class="form-group grid grid--col-4" [formGroupName]="i">
        <span *ngIf="map">
          {{ cartItem.value.product_id }}
          {{ map.get(cartItem.value.product_id).name }}
        </span>

        <span *ngIf="map">
          {{ map.get(cartItem.value.product_id).price | currency }}
        </span>

        <app-stock-counter 
          [max]="1000"
          [min]="10"
          [step]="10"
          (changed)="handleChange(cartItem)"
          formControlName="quantity">
        </app-stock-counter>
        
        <button
          type="button"
          (click)="handleRemove(cartItem, i)"
        >Remove</button>
      </div>
    </div>

  </div>

</div>