<div [formGroup]="parent">

  <div class="stock-cart" formArrayName="cart">

    <div *ngFor="let cartItem of cart; let i = index">
      <div class="form-group grid grid--col-3" [formGroupName]="i">
        <span>
          {{ cartItem.value.product_id }}
        </span>
        <input 
          type="number"
          min="10"
          max="1000"
          step="10"
          class="cart-input"
          formControlName="quantity"
        >
        <button
          type="button"
          (click)="handleRemove(cartItem, i)"
        >Remove</button>
      </div>
    </div>

  </div>

</div>