<div [formGroup]="parent">
  <div class="create-product grid grid--col-3" formGroupName="item">
    <div class="form-group">
      <input 
        type="text" 
        class="form-input"
        placeholder="Product Name (Product #123)"
        [ngClass]="{
          'is-invalid': name.invalid && name.touched,
          'is-valid': name.valid && name.touched
        }"
        formControlName="name"
      >
      <small class="error"
             *ngIf="required('name')">Name is required</small>

      <small 
      class="error"
      *ngIf="productNameTaken">Product name is already taken</small>

      <small 
      class="error"
      *ngIf="invalidProductName">Invaild product name (ex. Product #123)</small>
  
    </div>
  
    <div class="form-group">
      <input 
        type="number" 
        class="form-input"
        min="10"
        step="10"
        placeholder="Product Price $"
        [ngClass]="{
          'is-invalid': price.invalid && price.touched,
          'is-valid': price.valid && price.touched
        }"
        formControlName="price"
      >
      <small 
        class="error"
        *ngIf="required('price')">Price is required</small>
  
      <small 
      class="error"
      *ngIf="invalidPrice">Price cannot be below $10</small>
  
    </div>
  
    <button
      type="button"
      class="btn"
      [disabled]="item.invalid"
      (click)="handleCreateProduct()"
    >
      Create Product
    </button>
  </div>
</div>