<div class="stock-inventory">

  <form class="form" [formGroup]="form">

    <app-stock-item 
      [parent]="form"
      (created)="onCreateProduct($event)"
    >
    </app-stock-item>

    <app-stock-selector 
      [parent]="form"
      [products]="products"
      (added)="onCreateCartItem($event)"
    >
    </app-stock-selector>

    <app-stock-cart
      [parent]="form"
      [map]="productMap"
      (removed)="onRemove($event)"
      (changed)="onUpdate($event)"
    ></app-stock-cart>

    <div class="total" *ngIf="total">
      Total: {{ total | currency }}
    </div>

  </form>

  <pre>{{ form.value | json }}</pre>

</div>