<div class="stock-inventory">

  <form [formGroup]="form">
    <div class="create-product" formGroupName="item">
      <input 
        type="text" 
        class="form-input"
        placeholder="Product Name"
        formControlName="name"
      >
  
      <input 
        type="number" 
        class="form-input"
        placeholder="Product Price"
        formControlName="price"
      >
  
      <button
        type="button"
        class="btn"
      >
        Add Product
      </button>
    </div>
  </form>

</div>