/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #515255;
  color: #eee;
}

pre {
  margin-top: 32px;
}

input,
select {
  width: 100%;
  padding: 8px 12px;
  border: none;
  background-color: #fff;
  color: #555;
}

.grid {
  display: grid;
  column-gap: 24px;
}

.grid--col-3 {
  grid-template-columns: 3fr 1fr 1fr;
}

.form-group {
  position: relative;

  .error {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(20px);
    color: rgb(241, 189, 189);
  }

  .is-invalid {
    box-shadow: inset 0 0 0 2px rgb(241, 189, 189);
  }

  .is-valid {
    box-shadow: inset 0 0 0 2px rgb(196, 250, 196);
  }
}